torch==2.5.1
typer==0.15.1
fastapi==0.115.6
uvicorn==0.22.0
gunicorn==23.0.0
coverage==7.6.10
pytest==8.3.4
kaggle==1.6.17
python-dotenv==1.0.0
transformers
datasets
huggingface_hub
tensorboard==2.11
pytorch_lightning==2.5.0
contractions==0.1.73
loguru==0.5.3 